/*---Шрифт---*/

@font-face {
    font-family: 'StolzLight';
    src: url(../fonts/StolzLight.eot);
    src: url(../fonts/StolzLight.eot) format('embedded-opentype'),
    url(../fonts/StolzLight.woff2) format('woff2'),
    url(../fonts/StolzLight.woff) format('woff'),
    url(../fonts/StolzLight.ttf) format('truetype'),
    url(../fonts/StolzLight.svg#StolzLight) format('svg');
}

@font-face {
    font-family: "StolzlMedium";
    src:url(../fonts/StolzlMedium.otf);
}

html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;

    max-width: 1920px;
    min-width: 900px;
    height: 100%;

    font-family: "StolzLight";
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: black;
}

header{
    background: #2b6699;
}

main {
    position: relative;
    flex-grow:1;
    z-index: 1;
}

.container {
    padding: 0 15%;
    width: 70%;
}

.container_page{
    padding: 0 18%;
    width: 64%;
}

.flex {
    display: flex;
}

.aligin-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/*---Атрибуты текста---*/

.white {
    color: #ffffff;
}

.hover_link:hover {
    color: #0066b3;
    transition: .5s;
}

.line_bottom {
    padding: 20px 0 10px 20px;
    box-shadow:  0 10px 50px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}

/*---Синяя шапка---*/

.header_menu a {
    font-size: 14px;
    padding: 18px 25px ;
    text-transform: uppercase;
    font-weight: 700;
}

.header_menu a:hover {
    background-color: black;
}

.icon {
    padding: 10px 10px 6px 10px;
    height: 100%;
}

div.icon:hover {
    background-color: black;
}

.icon img {
    max-width: 30px;
}


/*---Логотип---*/

.logo img {
    max-height: 95px;
    padding: 20px 10px;
}

.logo p {
    font-size: 32px;
    line-height: 0.9;
}


/*---Меню---*/

.menu_mob {
    display: none;
}

.menu {
    box-shadow:  0 10px 30px rgba(0,0,0,0.5);
}

nav {
    position: relative;
    z-index: 2;
    text-align: center;
}

nav a {
    padding: 60px 0 60px 20px;
}

nav, nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

nav ul {
    left: -9999px;
    overflow: hidden;
    padding: 20px 0 10px;
    position: absolute;
    top: -9999px;


    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}

nav li {
    float: left;
    position: relative;
}

nav li a {
    display: block;
    padding: 7px 20px;
    text-decoration: none;
}

nav li:hover > a {
    height: 100%
}

nav li:hover > a.hsubs {
    border-bottom: 1px solid red
}

nav li:hover ul.subs {
    left: 0;
    top: 100%;
    width: 240px;
    background-color: #fafafa;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

nav ul li {
    width: 100%;
    background-color: white;
    color: #ebebeb;
}

nav ul li > a {
    font-size: 16px;
    line-height: 1;
    text-align: left;
    background-color: #fafafa;
}

nav ul li:hover > a {
    background-color: #f0f0f0;
}


/*---Председатель---*/

.pred {
    padding: 100px 10% 0 10%;
}

.pred_text {
    width: 45%;
}

.pred p {
    margin: 0 8%;
    text-align: center;
}

.pred_image {
    width: 55%;
    margin-bottom: -7px;
}



.zag {
    font-size: 32px;
    text-align: center;
    padding: 140px 0 80px 0;
}


/*-------Направления деятельности----------------*/
.directs {
    width:100%;
    margin: 0;
}

.direct {
    position: relative;
}

.direct p {
    text-align: center;
    position: absolute;
    z-index: 2;
    margin: 40% 8%;
    font-size: 24px;
    line-height: 1;
}

.direct img  {
    width: 100%;
    margin-bottom: -10px;
    background-color:rgba(0,0,0,.3);
    filter: brightness(40%);
}

.direct:hover p{
    margin: 40% 5%;
    font-size: 28px;
    transition: .5s;
}

.direct:hover img{
    -webkit-filter: brightness(40%);
    filter: brightness(20%);
    transition: 2s;
}

#direct1 {
    border-bottom: 50px solid darkred;
    margin-top: 50px;
    transition: 1s;
}

#direct2 {
    border-top: 50px solid greenyellow;
    transition: 1s;
}

#direct3 {
    border-bottom: 50px solid dodgerblue;
    margin-top: 50px;
    transition: 1s;
}

#direct4 {
    border-top: 50px solid orange;
    transition: 1s;
}

#direct1:hover, #direct2:hover, #direct3:hover, #direct4:hover {
    border-color: white;
    transition: 1s;
}


/*Слайдер*/

.news{
    padding: 0 10%;
    width: 80%;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.9s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 60px;
    text-align: center;
    opacity: 1;
    height: 100px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .7);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slide_image{
    width: 47%;
}

.slide_text {
    width: 47%;
}

.slider__item p {
    margin: 0 7%;
    text-align: left;
}

.slide_zag {
    font-size: 20px;
    padding: 20px 0 40px 0;
    transition: 1s;
    text-transform: uppercase;
}

.slide_desc {
    line-height: 2;
}

.slider__item:hover p.slide_zag {
    font-size: 22px;
    transition: 1s;
}

.slider__item:hover  img {
    filter: brightness(70%);
    transition: .8s;
}

.slider_item img {
    max-width: 700px;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/*----------Партнеры----------------*/

.partner {
    width: 26%;
    text-align: center;
    padding: 40px 2%;
}

.partner img {
    max-width: 90px;
}


/*---Футер---*/

footer{
    background: black no-repeat;
    padding: 40px 12% 10px 13%;
    margin-top: 80px;
    font-size: 16px;
}

footer ul, footer li {
    list-style: none outside none;
    padding-left: 0;
}

footer li.footer_item {
    margin-bottom: 40px;
}

.footer_text {
    text-align: center;
    font-weight: 700;
}

.zag_footer {
    font-size: 16px;
    font-weight: 800;
}

/*Текстовая страница*/

h1 {
    text-align: center;
    font-size: 36px;
    margin: 50px 0 20px 0;
    line-height: 50px;
    font-weight: 800;
}

.author {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 35px 0;
}

.author img {
    max-width: 100px;
    padding: 10px 20px;
}

.zag_text{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    padding: 50px 30px 10px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid red;
}

.text_page {
    text-indent: 55px;
    letter-spacing: normal;
    line-height: 1.88;
    text-align: justify;
    padding-bottom: 15px;
}

.button_page {
    max-width: 270px;
    text-align: center;
    color: white;
    width: 70%;
    background-color: #2b6699;
    border: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 40px;
    margin: 110px 0 20px 0;
    cursor: pointer;
}

.button_page:hover {
    background: red;
    transition: 1s;
}


/*---------Медиа запросы Ширина экрана до 1600px----------*/

@media only screen and (max-width: 1600px) {

    .container {
        padding: 0 10%;
        width: 80%;
    }

    .container_page{
        padding: 0 15%;
        width: 70%;
    }

    /*---Логотип---*/

    .logo p {
        font-size: 28px;
    }

    /*---Председатель---*/

    .pred {
        padding: 100px 5% 0 5%
    }

    /*---Футер---*/

    footer {
        padding: 40px 10% 10px 10%;
    }
}


/*---------Медиа запросы Ширина экрана до 1450px----------*/

@media only screen and (max-width: 1450px) {

    body {
        font-size: 16px;
    }

    .container {
        padding: 0 7%;
        width: 86%;
    }

    .container_page{
        padding: 0 12%;
        width: 76%;
    }

    /*---Председатель---*/

    .pred {
        padding: 100px 5% 0 5%
    }

    .pred p {
        margin: 0 5%;
    }

    /*---Слайдер---*/

    .news{
        padding: 0 5%;
        width: 90%;
    }

    /*---Футер---*/

    footer {
        padding: 40px 7% 10px 7%;
    }

    #about_vdv{
        display: none;
    }
}


/*---------Медиа запросы Ширина экрана до 1250px----------*/

@media only screen and (max-width: 1250px) {

    .container {
        padding: 0 4%;
        width: 92%;
    }

    /*---Меню---*/

    nav li a {
        padding: 7px 10px;
    }

    /*---Председатель---*/

    .pred {
        padding: 100px 3% 0 3%
    }

    .pred p {
        margin: 0 3%;
    }
}


/*---------Медиа запросы Ширина экрана до 1100px----------*/

@media only screen and (max-width: 1100px) {

    /*---Логотип---*/

    .logo p {
        font-size: 22px;
    }

    /*---Председатель---*/

    .pred {
        flex-wrap: wrap;
        width: 80%;
        padding: 50px 10% 0 10%
    }

    .pred p {
        margin: 0 10%;
        font-size: 18px;
    }

    .pred_text {
        width: 100%;
        padding-bottom: 50px;
    }

    .pred_image {
        width: 100%;
        margin-bottom: -7px;
    }

    /*-------Направления деятельности----------------*/

    .direct p {
        font-size: 18px;
    }

    .direct:hover p{
        font-size: 22px;
    }

    /*---Футер---*/

    #about_souz {
        display: none;
    }
}


@media screen and (max-device-width: 480px) {

    header {
        display: none;
    }

    body {
        font-size: 38px;
    }

    .container_page{
        padding: 0 4%;
        width: 92%
    }

    .zag {
        font-size: 55px;
    }

    .line_bottom {
        padding: 20px 20px 10px 20px;

    }

    /*-----Меню-----*/

    .menu_mob {
        display: block;
    }

    .menu_desc {
        display: none;
    }

    .icon img {
        max-width: 60px;
    }

    nav ul li > a {
        font-size: 38px;
        line-height: 1;
        text-align: left;
        background-color: #fafafa;
    }

    nav li a {
        padding: 20px 10px;
    }

    nav li:hover ul.subs {
        left: -390px;
        top: 100%;
        width: 470px;
        background-color: #fafafa;
    }

    /*-----Логотип-----*/

    .logo p {
        font-size: 44px;
    }

    .logo img {
        max-height: 120px;
        padding: 30px 10px;
    }

    /*-----Председатель-----*/

    .pred {
        flex-wrap: wrap;
        width: 94%;
        padding: 50px 3% 0 3%;
    }

    .pred p {
        font-size: 38px;
        margin: 0 2%;
    }

    /*-------Направления деятельности----------------*/

    #direct1, #direct2, #direct3, #direct4 {
        border: none;
    }

    #direct1, #direct3 {
        margin-top: 0;
    }
    .directs {
        flex-wrap: wrap;
    }

    .direct {
        width: 90%;
        margin: 0 5% 25px 5%;
    }

    .direct p {
        font-size: 55px;
    }

    .direct:hover p {
        font-size: 65px;
    }

    /*-------Партнер--------*/

    .partner {
        width: 42%;
    }

    /*-------Слайдер--------*/

    .slider__item {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .slide_image {
        width: 100%;
    }

    .slide_text {
        width: 100%;
        height: 100%;
    }

    .slide_zag {
        font-size: 44px;
    }

    .slider__item:hover p.slide_zag {
        font-size: 50px;
    }

    .slider__control::before {
        width: 70px;
        height: 130px;
    }

    .slider__control {
        top: 35%;
        width: 100px;
        height: 220px;
    }

    footer ul li {
        display: none;
    }

    .zag_footer {
        font-size: 30px;
    }

    footer p {
        font-size: 28px;
    }

    /*Текстовая страница*/

    h1 {
        font-size: 48px;
        margin: 30px 0 20px 0;
    }

    .zag_text{
        font-size: 44px;
        padding: 80px 30px 20px 0;
        margin-bottom: 70px;
    }

    .author {
        margin: 55px 0;
    }

    .author img {
        max-width: 130px;
        padding: 20px 30px;
    }

    .text_page {
        padding-bottom: 50px;
    }

    .button_page {
        max-width: 400px;

    }

}

