@font-face {
 font-family: "StolzLight";
 src:url(../fonts/StolzLight.otf);
}

@font-face {
 font-family: "StolzlMedium";
 src:url(../fonts/StolzlMedium.otf);
}

html {
 height: 100%;
}

body {
 display:flex;
 flex-direction: column;

 max-width: 1920px;
 min-width: 900px;
 height: 100%;

 font-family: "StolzLight";
 color: black;
 font-size: 18px;
 line-height: 1.5;
}

.container {
 padding: 15px 5% 15px 5%;
 width: 90%;
 height: auto;
}

nav {
 position: relative;
 z-index: 2;
 text-align: right;
}

main {
 position: relative;
 width: auto;
 flex-grow:1;
 z-index: 1;
}

img {
 width: 100%;
}

header{
 background: #2b6699;
 height: auto;
}

header a {
 color: #ffffff;
 margin: 20px 20px ;
 text-transform: uppercase;
}

footer{
 background: gray no-repeat;
 background-size: cover;
 padding: 40px 12% 10px 13%;
 color: white;
 font-size: 15px;
}